body {
  background-color: #ff8383; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ff8383 , #f8c583, #b1ee8a, #8fe7bd, #9a96eb);
  margin: 0;
  padding: 0;
}

div.time {
  background-color: black;
  position: fixed;
  color: white;
  font-family: "Staatliches";
  border-radius: 10%;
  padding: 1%;
  line-height: .5vw;
  text-align: center;
  padding-top: .3vw;
  padding-bottom: 0;
  border: solid white .3vw;
  cursor: pointer;
}

ul {
  width: 100%;
  column-count:3;
  column-gap: 0;
  background-color: black;
  margin-bottom: .05%;
  text-align: center;
  margin-top: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

li {
  display: block;
  width: 100%;
}

div.contact {
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;

}
a.select:link, a.select:visited {
  font-family: "Courier", monospace;
  color: white;
  background-color: black;
  padding: 3% 15%;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

a.select:hover, a.selecta {
  font-family: "Courier", monospace;
  background-color: yellow;
  padding: 3% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  text-decoration: none;
}

h2.title {
  line-height: 0;
  font-family: "Staatliches";
  text-align: center;
  margin-bottom: 6vw;
  margin-top: 7vw;
}

p.description1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-top: 0;
  letter-spacing: .45vw;
  line-height: 0;
}

p.description2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: .45vw;
  line-height: 0;
  margin-bottom: 3vw;
  margin-top: 1vw;
}

img.phone {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 8vw;
  right: 12vw;
  transform: rotate(20deg);
}

img.sparkle {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 8vw;
  left: 15vw;
  transform: rotate(-20deg);
}

div.details {
  font-family: "Courier", monospace;
  float: left;
  line-height: 2vw;
}

div.form {
  column-count:2;
  font-family: "Courier", monospace;
  float: right;
  line-height: 2vw;
}
