body {
  background-color: #ff8383; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ff8383 , #f8c583, #b1ee8a, #8fe7bd, #9a96eb);
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  column-count:3;
  column-gap: 0;
  background-color: black;
  margin-bottom: .05%;
  text-align: center;
  margin-top: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

li {
  display: block;
  width: 100%;
}

div.contact {
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;

}
a.select:link, a.select:visited {
    font-size: 30px;
    font-family: "Courier", monospace;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

a.select:hover, a.selecta {
   font-size: 30px;
   font-family: "Courier", monospace;
   background-color: yellow;
   padding: 15px 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   text-align: center;
   text-decoration: none;
}

h2.title {
  line-height: 0em;
  font-family: "Staatliches";
  text-align: center;
  margin-bottom: .5em;
  margin-top: .8em;
}

p.description1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-top: 0px;
  letter-spacing: .45em;
  line-height: 0;
  margin-top: 1em;
  margin-bottom:1em;
}

p.description2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: .45em;
  line-height: 0em;
  margin-bottom: 3em;
  margin-top: 0em;
  letter-spacing: .45em;
}

img.phone {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 130px;
  right: 160px;
  transform: rotate(20deg);
}

img.sparkle {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 130px;
  left: 250px;
  transform: rotate(-20deg);
}

div.details {
  font-family: "Courier", monospace;
  float: left;
  line-height: 1em;
}

div.form {
  column-count:2;
  font-family: "Courier", monospace;
  font-size: 25px;
  float: right;
}

input {
  max-width: 100%;
  max-height: 100%;
}
