body {
  background-color: #b0dff1; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #87ceea, #f9fdff);
  margin: 0;
  padding: 0;
}

ul.main {
  width: 100%;
  column-count:3;
  column-gap: 0;
  background-color: black;
  margin-bottom: 0;
  text-align: center;
  margin-top: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

a.select:link, a.select:visited {
    font-family: "Courier", monospace;
    color: white;
    background-color: black;
    padding: 3% 15%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a.select:hover, a.selecta {
   font-family: "Courier", monospace;
   background-color: yellow;
   padding: 3% 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: black;
   text-align: center;
   text-decoration: none;
}

div.time {
  background-color: black;
  position: fixed;
  right: 0vw;
  color: white;
  font-family: "Staatliches";
  border-radius: 10%;
  padding: 1%;
  line-height: .5vw;
  text-align: center;
  padding-top: .3vw;
  padding-bottom: 0;
  border: solid white .3vw;
  cursor: pointer;
}

h2.title1 {
  line-height: 0.5em;
  margin-bottom: .7em;
  margin-top: 0em;
  font-family: "Staatliches";
  text-align: center;
}

img.sparkle1 {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 8vw;
  left: 25vw;
}

img.sparkle2 {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 8vw;
  left: 40vw;
}

img.sparkle3 {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 8vw;
  left: 60vw;
}

div.main {
  padding: 5%;
  padding-bottom: 10%;
  padding-top: 8%;
}

img.head {
  float: left;
  margin-right: 3%;
  border: solid black 2vw;
}

p.description {
  text-align: center;
  font-family: "Courier", monospace;
}

img.flag {
  float: right;
  padding: 1%;
  cursor: pointer;
}

h2.screen {
  margin-bottom: 1vw;
  font-family: "Staatliches";
  color: white;
  margin-top: 0em;
}

div.screen {
  background-color: black;
  padding: 5%;
  text-align: center;
}

div.alpha {
    font-family: "Bebas Neue", sans-serif;
    line-height: 3vw;
    text-align: center;
    position: absolute;
    top: 4vw;
    left: -5vw;
    background-color: black;
    width: 15vw;
    color: white;
}

a.alpha:link, a.alpha:visited {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

a.alpha:hover, a.alphaa {
   color: black;
   text-align: center;
   background-color: yellow;
   text-decoration: none;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 0.4s;
}

div.column1 {
  float: left;
  width: 50%;
  padding: 0;
}

div.column1 img {
  border: solid white 1vw;
}

div.column1:hover img {
  border: solid white 1vw;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.7;
}

div.row::after {
  content: "";
  clear: both;
  display: table;
}

footer.sm {
  text-align: center;
  padding-top: 2.5%;
}

a.sm:hover {
  transition: 0.3s;
  opacity: 0.7;
}
