body {
  background-image: url("rainbow.jpg");
  margin: 0;
  padding: 0;
}

ul {
  column-count:3;
  column-gap: 0px;
  background-color: black;
  margin-bottom: 2em;
  text-align: center;
  margin-top: 0;
  padding: 0;
}

div.video {
  padding: 40px;
}

a.select:link, a.select:visited {
    font-size: 30px;
    font-family: "Courier", monospace;
    color: white;
    background-color: black;
    padding: 15px 32px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
}

a.select:hover, a.selecta {
  font-size: 30px;
  font-family: "Courier", monospace;
  background-color: yellow;
  padding: 15px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  text-decoration: none;
}

h2.title1 {
  font-size: 150px;
  line-height: 0pt;
  font-family: "Staatliches";
  margin-top: 80px;
}

h2.title2 {
  font-size: 150px;
  line-height: 0pt;
  font-family: "Staatliches";
  margin-bottom: 55px;
}

h2.cast {
  font-size: 150px;
  margin-bottom: 10px;
  font-family: "Staatliches";
  color: white;
  margin-top: 10px;
}

div.video {
  margin-bottom: 60px;
}

video.video {
  float: left;
  margin-right: 30px;
  margin-top: 5px;
  border: solid black 5px;
  padding: 2px;
}

p.sponsored {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

footer.sm {
  text-align: center;
  padding-top: 30px;
}

p.intro {
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0;
  margin-bottom:1.5em;
  margin-top: 0px;
  letter-spacing: .45em;
}

p.description {
  text-align: center;
  font-size: 20px;
  margin-bottom:2em;
  margin-top: 2em;
  font-family: "Courier", monospace;
}

p.opacity {
  color: white;
  font-style: italic;
  font-size: 20px;
}

p.black {
  color: white;
  font-family: "Courier", monospace;
  font-size: 35px;
  margin-bottom: 0px;
}

p.review {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  margin-bottom:1em;
  font-family: "Courier", monospace;
}

img.flag {
  height: 230px;
  width: 230px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 40px;
  right: 360px;
}

img.sparkle1 {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 350px;
}

img.star {
  height: 40px;
}

div {
  text-align: center;
}

div.cast {
  background-color: black;
  padding: 70px;
}

div.column1 {
  float: left;
  width: 25%;
  padding: 0px;
}

div.column1 img {
  border: solid white 5px;
}

div.row::after {
  content: "";
  clear: both;
  display: table;
}

a.select:hover, a.select:active {
   background-color: yellow;
   color: black;
   text-align: center;
}

img.button:hover {
  opacity: 0.7;
  transition: 0.5s;
  filter: grayscale(100%);
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

button {
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
