body {
  background-color: #ff8383; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #ff8383 , #f8c583, #b1ee8a, #8fe7bd, #9a96eb);
  margin: 0;
  padding: 0;
}

ul {
  width: 100%;
  column-count:3;
  column-gap: 0;
  background-color: black;
  margin-bottom: .05%;
  text-align: center;
  margin-top: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

li {
  display: block;
  width: 100%;
}

div.video {
  padding: 5%;
}

a.select:link, a.select:visited {
    font-family: "Courier", monospace;
    color: white;
    background-color: black;
    padding: 3% 15%;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

a.select:hover, a.selecta {
  font-family: "Courier", monospace;
  background-color: yellow;
  padding: 3% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  text-decoration: none;
}

div.title {
  line-height: 0;
  font-family: "Staatliches";
  text-align: center;
  top: 0;
  padding: 0.02em;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .01em;
}

/* Got rainbow transition from this site: https://dev.to/tchaflich/today-i-learned-how-to-animate-a-text-gradient-in-css-and-javascript-2ehp */
div.title:hover {
  line-height: 0;
  font-family: "Staatliches";
  text-align: center;
  top: 0;
  padding: 0.02em;
  background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: rainbow 5s linear infinite;
  -webkit-text-stroke-width: .01em;
}

@keyframes rainbow {
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}
/* End of animation */

h2.title1 {
  margin-top: .7em;
}

h2.title2 {
  margin-bottom: .5em;
}

h2.cast {
  margin-bottom: .25em;
  font-family: "Staatliches";
  color: white;
  margin-top: 0em;
}

div.video {
  margin-bottom: 1em;
}

video.video {
  float: left;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 3em;
  border: solid black .5em;
  padding: .25em;
}

p.sponsored {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

footer.sm {
  text-align: center;
  padding-top: 2.5em;
}

p.intro {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  margin-top: 0em;
  margin-bottom:2em;
  letter-spacing: .45em;
}

div.column1:hover img {
  padding: 0;
  border: solid white .5em;
  transition: 0.3s;
  opacity: 0.7;
  filter: grayscale(100%);
  max-width: 100%;
  display: block;
}

p.description {
  text-align: center;
  margin-bottom:2em;
  margin-top: 3em;
  font-family: "Courier", monospace;
}

p.opacity {
  color: white;
  font-style: italic;
}

p.black {
  color: white;
  font-family: "Courier", monospace;
  margin-bottom: 0;
}

p.review {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  margin-bottom:1em;
  font-family: "Courier", monospace;
}


img.flag {
  margin: 0 auto;
  position: absolute;
  top: 3em;
  right: 22em;
  max-width: 100%;
  max-height: 100%
}

img.sparkle1 {
  margin: 0 auto;
  position: absolute;
  top: 7em;
  left: 22em;
  max-width: 100%;
  max-height: 100%
}

img.star {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  text-align: center;
}

div.cast {
  background-color: black;
  padding: 5%;
}

div.column1 {
  float: left;
  width: 25%;
  padding: 0%;
}

div.column1 img {
  border: solid white .5em;
  display: block;
  max-width: 100%;
}

div.row::after {
  content: "";
  clear: both;
  display: table;
}

a.select:hover, a.select:active {
   background-color: yellow;
   color: black;
   text-align: center;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.5s;
}

button {
  color: white;
  padding: 4% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  margin: 2% 1%;
  cursor: pointer;
  border-radius: 15em;
  background-color: white;
}

a.sm:hover {
  transition: 0.3s;
  opacity: 0.7;
}
